@import "tailwindcss";

/* import Varela Round from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  @apply bg-gray-100 text-gray-800;
  font-family: 'Varela Round', sans-serif;
}

/* fallback class if needed */
.varela-round-regular {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-style: normal;
} 
